<form class="search" [formGroup]="searchForm" (ngSubmit) = "search()">
    <input type="text" placeholder="Enter a title name to look for employees with the title" name="search_title" formControlName='search_title' required>
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br>

<h2 *ngIf="!isSearch" style='color:gray'>Titles</h2>
<h2 *ngIf="isSearch" style='color:gray'>Employees that are {{this.searchInput}}</h2>
    
<table>
    <thead *ngIf="!isSearch">
        <tr>
            <th scope="col">Title Name</th>
        </tr>
    </thead>
    <thead *ngIf="isSearch">
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
    </thead>
    <tbody *ngIf="!isSearch">

        <tr *ngFor="let title of titles">
            <td>{{title}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="isSearch">
        <tr *ngFor="let employee of employees">
            <td>{{employee.empNo}}</td>
            <td>{{employee.first_name}}</td>
            <td>{{employee.lastName}}</td>
        </tr>
    </tbody>
</table>

<br>
<button>View More</button>
<br>

