/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    overflow: auto; /* Enable scroll if needed */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#addform {
    border: 1px solid black;
    padding: 10px;
    margin: 25px;
    color: gray;
    padding-left: 20%;
}

.add-input {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 25px 12px 0;
    display: inline-block;
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.add {
    color: gray; 
    font-size: 24px; 
    cursor: pointer;
}

.add:hover {
    color:black;
}
  
.col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  