<!-- <button *ngIf = '!isAuthenticated' (click)='oktaAuth.loginRedirect()'>LOGIN</button> -->
<!-- <button *ngIf = 'isAuthenticated' (click)='oktaAuth.logout()'>LOGOUT</button> -->

<form class="search" [formGroup]="searchForm" (ngSubmit) = "search()">
    <input type="text" placeholder="Enter an employee's name" name="search_emp" formControlName='search_emp' required>
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<h2 style='color:gray'>Employees 
    <i class="add fa fa-plus-circle" title='Click to add an employee' onclick="document.getElementById('add-modal').style.display='block'"></i>
</h2>

<table style="overflow-y: auto;">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Birth Date</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Hire Date</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let employee of employees">
            <td>{{employee.empNo}}</td>
            <td>{{employee.birth_date.split('T')[0]}}</td>
            <td>{{employee.first_name}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.hire_date.split('T')[0]}}</td>
            <td style="width: 40px; height: 40px; text-align: center; font-size: 20px;">
                <i (click)="isEdit=true; checkId=employee.empNo;" class="btn btn-default fa fa-pencil" ></i>
                <i (click)="isDelete=true; checkId=employee.empNo;" class="btn btn-default fa fa-trash" ></i>
            </td>

            <!-- Edit  -->
            <div style='display: block' id="edit-modal" class="modal" *ngIf='isEdit && checkId == employee.empNo'>

                <!-- Modal content -->
                <div class="modal-content">
                    <form id='editform' [formGroup]="editForm" (ngSubmit) = "isEdit=false">
                        <h2 id='modal-header'>Please fill in this form to edit an employee</h2>
                        <div class="form-group container">
                            <div class="row">
                                <div class="col-25">
                                    <label for="edit_empNo" class="control-label"><b>Employee ID</b></label>
                                </div>
                                <div class="col-75">
                                    <input style="cursor:default" type="number" class="form-control add-input" formControlName='edit_empNo' name="edit_empNo" placeholder="{{employee.empNo}}" [(ngModel)]="employee.empNo" readonly>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-25">
                                        <label for="edit_birth_date" class="control-label"><b>Birth Date</b></label>
                                </div>
                                <div class="col-75">
                                    <input style="cursor:default" type="text" formControlName='edit_birth_date' name="edit_birth_date" class="form-control add-input" readonly placeholder="{{employee.birth_date.split('T')[0]}}" [(ngModel)]="employee.birth_date.split('T')[0]">
                                </div>
                            </div>
            
                            <div class="row" >
                                <div class="col-25">
                                    <label for="edit_first_name" class="control-label"><b>First Name</b></label>
                                </div>
                                <div class="col-75">
                                    <input type="text" class="form-control add-input" formControlName='edit_first_name' name="edit_first_name" required placeholder="{{employee.first_name}}" [(ngModel)]="employee.first_name">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-25">
                                    <label for="edit_lastName" class="control-label"><b>Last Name</b></label>
                                </div>
                                <div class="col-75">
                                    <input type="text" class="form-control add-input" formControlName='edit_lastName' name="edit_lastName" required placeholder="{{employee.lastName}}" [(ngModel)]="employee.lastName">
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-25">
                                    <label for="edit_gender" class="control-label"><b>Gender</b></label>
                                </div>
                                <div class="col-75">
                                    <input style="cursor:default" type="text" class="form-control add-input" formControlName="edit_gender" name="edit_gender" readonly placeholder="{{employee.gender}}" [(ngModel)]="employee.gender">
                                </div>
                            </div>
            
                            <div class="row" >
                                <div class="col-25">
                                    <label for="edit_hire_date" class="control-label"><b>Hire Date</b></label>
                                </div>
                                <div class="col-75">
                                    <input style="cursor:default" type="text" formControlName='edit_hire_date' name="edit_hire_date" class="form-control add-input" readonly placeholder="{{employee.hire_date.split(' ')[0]}}" [(ngModel)]="employee.hire_date.split(' ')[0]">
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col-25">
                                    <label for="edit_hire_date" class="control-label"><b>Department No.</b></label>
                                </div>
                                <div class="col-75">
                                    <input style="cursor:default" type="text" formControlName='edit_dep_no' name="edit_dep_no" class="form-control add-input" value="d002">
                                </div>
                            </div>
                            <br>
                            <recaptcha [formControl]="myRecaptcha" (scriptLoad)="onScriptLoad()" (scriptError)="onScriptError()"></recaptcha>
                            <br>
                            <div class="clearfix">
                                <button type="button" (click)="isEdit=false" class="cancelbtn">Cancel</button>
                                <button type="submit" [disabled]="!editForm.valid" class="addbtn">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>

            <!-- Delete Modal -->
            <div style='display: block' id="delete-modal" class="modal" *ngIf='isDelete && checkId == employee.empNo'>

                <!-- Modal content -->
                <div class="modal-content">
                    <form id='deleteform' [formGroup]="deleteForm" (ngSubmit) = "isDelete=false">
                        <h2 id='modal-header'>When is {{employee.first_name}} {{employee.lastName}}'s last day?</h2>
                        <div class="form-group container">
                            <div class="row">
                                <div class="col-25" style="text-align:right">
                                    <label for="lastDay" class="control-label"><b>Last Day:</b></label>
                                </div>
                                <div class="col-50">
                                    <input style="cursor:default" type="date" class="form-control add-input" formControlName='lastDay' name="lastDay" required>
                                </div>
                                <div class="col-25"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="clearfix">
                                    <button type="button" (click)="isDelete=false" class="cancelbtn">Cancel</button>
                                    <button type="submit" [disabled]="!deleteForm.valid" class="addbtn">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </tr>
        
    </tbody>
</table>
<br>
<button (click)='addMore()' style="padding: 5px 10px; font-size: 16px;">View More</button>
<br>

<!-- The Modal -->
<div id="add-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form id='addform' [formGroup]="addForm" (ngSubmit) = "add()">
            <h2 id='modal-header'>Please fill in this form to add an employee</h2>
            <div class="form-group container">
                <div class="row">
                    <div class="col-25">
                        <label for="empNo" class="control-label"><b>Employee ID</b></label>
                    </div>
                    <div class="col-75">
                            <input type="number" placeholder="Enter Employee ID" class="form-control add-input" formControlName='empNo' name="emp_id" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                            <label for="birth_date" class="control-label"><b>Birth Date</b></label>
                    </div>
                    <div class="col-75">
                        <input type="date" placeholder="Enter Birth Date" formControlName='birth_date' name="birth_date" class="form-control add-input" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="first_name" class="control-label"><b>First Name</b></label>
                    </div>
                    <div class="col-75">
                        <input type="text" placeholder="Enter First Name" class="form-control add-input" formControlName='first_name' name="first_name" required>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-25">
                        <label for="lastName" class="control-label"><b>Last Name</b></label>
                    </div>
                    <div class="col-75">
                        <input type="text" placeholder="Enter Last Name" class="form-control add-input" formControlName='lastName' name="lastName" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="gender" class="control-label"><b>Gender</b></label>
                    </div>
                    <div class="col-75">
                        <input type="radio" formControlName="gender" name="gender" value="M" checked> Male<br>
                        <input type="radio" formControlName="gender" name="gender" value="F"> Female
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="hire_date" class="control-label"><b>Hire Date</b></label>
                    </div>
                    <div class="col-75">
                        <input type="date" placeholder="Enter Hire Date" formControlName='hire_date' name="hire_date" class="form-control add-input" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="dep_no" class="control-label"><b>Department No.</b></label>
                    </div>
                    <div class="col-75">
                        <input type="text" placeholder="Enter the employee's department no." formControlName='dep_no' name="dep_no" class="form-control add-input" required>
                    </div>
                </div>
                <br>

                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('add-modal').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" [disabled]="!addForm.valid" class="addbtn" onclick="document.getElementById('add-modal').style.display='none'">Add</button>
                </div>
            </div>
        </form>
    </div>
    
</div>


